#blog-pager {
    display: none
}

#siderside {
    margin-top: 20px;
    margin-bottom: 20px
}

.blog-posts {
    margin-bottom: 20px
}

#left-aside {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto
}

.post {
    background: #fff;
    position: relative;
    padding: 0;
    margin: 0 10px 20px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all .3s linear
}

.post:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2)
}

.post-outer {
    width: 33.3%;
    float: left;
    position: relative;
    display: block;
    margin: 0 auto
}

.post-body {
    padding: 20px 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #aaa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05)
}

.post h2.post-title {
    margin: 0 auto;
    text-decoration: none;
    line-height: normal;
    font-weight: 700
}

h2.post-title a {
    font-size: 18px;
    display: block;
    background: #fff;
    color: #222;
    padding: 15px;
    clear: both
}

.post:hover h2.post-title a {
    color: #222;
    text-decoration: underline
}

/* CSS Post Thumbnail Area */
.post img {
    display: block;
    width: 100%;
    max-width: 340px;
    height: auto;
    cursor: default;
    transition: all 0.4s
}

.post:hover img {
    transform: scale(1.12)
}

.img-thumbnail {
    overflow: hidden;
    background: #f5f5f5;
    position: relative;
    float: left;
    width: 100%;
    max-width: 340px;
    height: auto;
    margin: 0 auto;
    padding: 0
}

.img-thumbnail img {
    max-width: 340px;
    height: auto;
    margin: 0 auto;
    -webkit-backface-visibility: hidden
}

.label-info {
    background: #fff;
    display: block;
    padding: 20px 15px 25px 15px;
    overflow: hidden
}

.label-info a {
    background: #fff;
    float: left;
    margin: 0 10px 0 0;
    text-transform: capitalize;
    color: #3498db;
    display: inline-block;
    height: auto;
    line-height: 10px;
    padding: 8px 16px;
    vertical-align: top;
    border-radius: 99em;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid;
    transition: all .2s ease-in-out
}

.label-info a:nth-child(n+2) {
    background: #fff;
    color: #f39c12
}

.label-info a:hover {
    background: #3498db;
    color: #fff;
    border-color: #3498db;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1), 0 3px 4px rgba(0, 0, 0, 0.12)
}

.label-info a:nth-child(n+2):hover {
    background: #f39c12;
    color: #fff;
    border-color: #f39c12;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1), 0 3px 4px rgba(0, 0, 0, 0.12)
}

.label-info a:nth-child(n+3) {
    display: none
}

span.overlay {
    opacity: 0;
    background: rgba(236, 64, 122, 0);
    cursor: pointer;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #e4e4e4;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 2px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: all 0.4s
}

.post:hover span.overlay {
    opacity: 1;
    background: rgba(236, 64, 122, 0.6)
}

span.overlay .info-wrapper {
    width: 50%
}

.breadcrumbs, .vcard2, .post-footer {
    display: none
}

#side-kanan, #PopularPosts1 {
    display: none;
    visibility: hidden
}

/* CSS Post Footer */
.post-info {
    display: none
}

.author-info, .time-info, .comment-info, .review-info {
    margin-right: 1px !important;
    display: inline;
}

/* CSS Masonry Animation */
.masonry, .masonry .blog-posts {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s
}

.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width
}

.masonry .blog-posts {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top
}

.blog-posts {
    margin: 0 auto
}

/* Page Navigation */
#blog-pager {
    padding: 20px 10px;
    line-height: normal;
    position: relative;
    display: block;
    overflow: visible;
    margin: 20px auto
}

.showpage a, .showpageNum a, .showpagePoint, .showpageOf {
    position: relative;
    background: #fff;
    display: inline-block;
    font-size: 14px;
    color: #ec407a;
    padding: 10px 14px;
    min-width: 32px;
    text-align: center;
    border: 2px solid #ec407a;
    border-left: 0;
    font-weight: 600;
    transition: initial
}

.showpage a:first-child {
    border-left: 2px solid #ec407a
}

.showpage a:hover, .showpageNum a:hover, .showpagePoint:hover, .showpagePoint {
    background: #ec407a;
    color: #fff;
    border-color: #ec407a;
    position: relative
}

.showpageOf {
    display: none
}

/* Responsive */
@media screen and (max-width: 1280px) {
    #left-aside {
        max-width: 95%;
        margin: 0 auto;
        float: none;
    }
}

@media screen and (max-width: 1070px) {
    .post-outer {
        width: 33.3%;
    }
}

@media screen and (max-width: 980px) {
    #artikel {
        padding: 0
    }
}

@media screen and (max-width: 800px) {
    #left-aside {
        max-width: 100%;
    }

    .post img, .img-thumbnail, .img-thumbnail img {
        width: 100%;
        max-width: 100% !important;
    }

    .post-outer {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .post-outer {
        width: 100%;
    }

    .post {
        margin: 14.5px;
    }

    #header, #header .description, #header h1, #header p, #header a {
        text-align: center;
        margin: 0 auto;
    }

    #header-wrapper {
        margin: 0 auto;
    }

    #wrapper, #siderside {
        width: 100%;
        margin: 0 auto;
    }

    #blog-pager {
        text-align: center;
        margin: 0 auto;
        clear: both;
        width: 100%
    }
}

@media screen and (max-width: 430px) {
    #PopularPosts1 {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 384px) {
    h2.post-title a {
        font-size: 16px;
    }

    .post-outer {
        width: 100%;
    }

    #social_networks {
        bottom: 20px;
    }
}

@media screen and (max-width: 320px) {
    .post {
        margin: 12.5px !important;
    }
}

.lalulintas {
    width: 100%;
    height: 100px;
    background: #f0f0f0;
    margin: 0 auto;
    position: relative
}

.rambuhijau {
    position: absolute;
    display: block;
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    padding: 10px;
    margin: 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 4.4rem
}

/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* CSS HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

html {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    background: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #000;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#Attribution1 {
    height: 0;
    visibility: hidden;
    display: none
}

.quickedit {
    display: none;
}

.clear {
    clear: both;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.status-msg-body, .status-msg-border {
    display: none;
}

/* CSS Framework */
.navbar, .post-feeds, .feed-links {
    display: none
}

strong, b {
    font-weight: bold;
    padding: 0 0.25em;
    -webkit-transition: color 0.2s;
    transition: color 0.2s
}

strong, b:hover {
    color: #d04c3f;
    left: -0.1em;
    content: '[';
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

a {
    color: #0984e3;
    text-decoration: none;
    transition: all .3s
}

a:hover {
    color: #ec407a
}

a img {
    border-width: 0
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0
}

abbr, acronym {
    border-bottom: 1px dotted;
    cursor: help
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -.4em;
    font-size: 86%
}

sub {
    top: .4em
}

small {
    font-size: 86%
}

kbd {
    font-size: 80%;
    border: 1px solid #b4babe;
    padding: 2px 5px;
    border-bottom-width: 2px
}

mark {
    background-color: #ffce00;
    color: #182025
}

p, blockquote, pre, table, figure, hr, form, ol, ul, dl {
    margin: 1.5em 0
}

hr {
    height: 1px;
    border: none;
    background-color: #46515e
}

cite, em, i {
    font-style: italic
}

code {
    font-family: 'Consolas';
    color: #46515e
}

#wrapper {
    width: 100%;
    max-width: 1070px;
    margin: auto
}

#side-kanan {
    width: 30%;
    float: right;
    margin-top: 0;
    margin: 0 auto
}

#left-aside {
    float: left;
    width: 70%;
    margin-top: 0;
    margin: 0 auto
}

.blogtop-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%
}

.cl-wrapper {
    overflow: hidden;
    padding: 0 20px;
    position: inherit;
    max-width: 1070px;
    margin: 0 auto
}

.header-wrapper {
    position: relative
}

#header {
    float: left;
    margin: 0;
    overflow: hidden;
    text-align: center
}

#header h1 {
    padding: 5px 10px
}

#header img {
    border: 0;
    background: none;
    width: auto;
    height: auto;
    margin: 0 auto
}

.sidebar .widget-content {
    display: inline-block;
    padding: 0;
    width: 100%
}

.sidebar .widget {
    margin-bottom: 5px;
    padding: 10px 5px
}

#sidebar-kanan {
    margin-right: 5px
}

.sidebar li {
    margin: 3px 0;
    padding: 2px 0;
    list-style: none
}

.sidebar li a:hover {
    color: #79bbdd
}

#navbar-iframe {
    height: 0;
    visibility: hidden;
    display: none
}

.sidebar h2 {
    color: #242424;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 0;
    position: relative
}

.lyco-search {
    position: relative;
    padding: 0;
    height: 0;
    margin: 0 auto
}

.hero, .content {
    text-align: center;
    position: relative;
    width: 100%
}

.inner1 {
    min-height: 350px;
    position: relative
}

/* CSS Post Styling */
h1.title {
    text-transform: none
}

h1.title a {
    font-family: 'Roboto';
    font-weight: 400;
    color: #fff
}

h1.title a:hover {
    background: none
}

.post-more-link {
    text-align: right;
    margin-top: 5px
}

.post-more-link a {
    background: #1abc9c;
    color: #fff;
    overflow: hidden;
    display: inline;
    padding: 5px
}

.post {
    overflow: hidden
}

.post blockquote {
    padding: 1em 1em;
    font-size: 100%;
    background: #ffeaa7;
    color: #000;
    border-radius: 5px;
    margin: 0
}

.post blockquote:before {
    content: "\f10d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.2)
}

.awal {
    float: left;
    color: #e79c5a;
    background: #fff;
    line-height: 30px;
    padding-top: 1px;
    padding-right: 5px;
    font-size: 50px
}

#blog-pager {
    text-align: center;
    margin: 10px 0;
    clear: both;
    overflow: hidden;
    padding: 0 5px
}

/* CSS List Custom */
.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
    font-weight: 700
}

.post-body h1 {
    font-size: 150%
}

.post-body h2 {
    font-size: 140%
}

.post-body h3 {
    font-size: 130%
}

.post-body h4 {
    font-size: 120%
}

.post-body h5 {
    font-size: 110%
}

.post-body h6 {
    font-size: 100%
}

.post-body h1 b, .post-body h2 b, .post-body h3 b, .post-body h4 b, .post-body h5 b, .post-body h6 b {
    font-weight: 700
}

input, button, select, textarea {
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline
}

textarea {
    display: block;
    box-sizing: border-box
}

input.placeholder_text, textarea.placeholder_text {
    color: #888
}

ol {
    counter-reset: li;
    list-style: none;
    padding: 0;
    margin: 0
}

ol ol {
    margin: 0 0 0 2em
}

.post ol li {
    position: relative;
    display: block;
    padding: 0;
    margin: .5em 0 .5em 2em;
    background: #fff;
    text-decoration: none
}

.post ol li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    height: 2em;
    width: 2em;
    text-align: center
}

.post-body ul {
    position: relative;
    padding: 0;
    margin: .5em 0 .5em 1.5em;
    text-decoration: none
}

/* Post Table */
.post-body table {
    width: 100%
}

.post-body table td {
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 12px;
    text-align: left;
    vertical-align: top
}

.post-body table th {
    background: #ec407a;
    color: #fff;
    border: 0;
    padding: 12px;
    text-align: left;
    vertical-align: top
}

.post-body table.tr-caption-container {
    border: 0;
    margin: 0
}

.post-body th {
    font-weight: 700
}

.post-body table caption {
    border: none;
    font-style: italic
}

.post-body td, .post-body th {
    vertical-align: top;
    text-align: left;
    font-size: 13px;
    padding: 3px 5px;
    border: 1px solid #97b28e
}

.post-body table tr:nth-child(even) > td {
    background-color: #f5f5f5
}

.post-body td a {
    color: #444
}

.post-body td a:hover {
    color: #cf4d35
}

.post-body table.tr-caption-container td {
    border: 0;
    padding: 0;
    background: #fff;
    line-height: 17px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    color: #000
}

.post-body table.tr-caption-container, .post-body table.tr-caption-container img, .post-body img {
    max-width: 100%;
    height: auto
}

.post-body li {
    list-style-type: square
}

.post-body td.tr-caption {
    font-size: 85%;
    padding: 10px !important
}

.sr {
    visibility: hidden;
    width: 0;
    height: 0
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}