<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if request.user_agent.is_pc %}
<section id="sidenav" class="sidenav" :class="[open ? 'open':'', close ? '':'close']">
    {% endif %}
    {% if request.user_agent.is_mobile and 'iPad' not in request.user_agent.device %}
    <section id="sidenav" class="sidenav" :class="[open ? 'open':'']">
        {% endif %}
        {% if request.user_agent.is_tablet %}
        <section id="sidenav" class="sidenav" :class="[close ? 'close':'']" >
            {% endif %}
            <div class="sidenav__contents">...</div>
        </section>
</body>
</html>